
<div id="footer-wrap">
  <div id="footer-container">
    <div id="footer">
      <ul>
      <li>|<%= link_to "Home" , root_path %>|</li>

      <li><%= link_to "Contact Us", contact_path %>|</li>
      </ul>
    </div>
  </div>
</div>