<div id="header-wrap">
  <div id="header-container">
    <div id="header">
      <h1>CourseX</h1>
      <ul>
        <% if current_user %>
            <div class="logged_in">
            |Logged in as <%= current_user.email %>|
             <%= link_to "Log out", logout_path %>
            </div>
        <% else %>
            <%= link_to "Sign up", signup_path,{ :class => "link_to"} %> or
            <%= link_to "Log in", login_path,{:class => "link_to"}  %>.


        <% end %>
      </ul>
    </div>
  </div>
</div>